<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b863e45fc5.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

    <title>Cryptofolio</title>
</head>
<body>
<div class ="bg-dark">

    {{!-- <div class="jumbotron jumbotron-fluid bg-info">
        <div class="container">
          <h1 class="display-4">Cryptofolio</h1>
          <p class="lead">Your preferred cryptcurrency watch list and your one source on everything crypto. </p>
        </div>
      </div>  --}}


  <nav class="navbar navbar-light bg-dark">
  <div class="container-fluid"> 
    <a class="navbar-brand" href="#">
      <img src="/css/Assets/cryptologo.png" alt="" width="300" height="300" class="d-inline-block align-text-top">
    </a>
  </div>
</nav>


      <div class="container">
        <nav class="nav justify-content-between">
          <div class="form-inline">
            <a class="nav-link active" href="/"><i class="fa-solid fa-house"></i></a>
            <a class="nav-link" href="/watchlist"> my watchlist </i></a>
            {{#if logged_in}}
            <a class="nav-link" href="/" id="logout">logout <i class="fa-regular fa-rectangle-xmark"></i></a>
            {{else}}
            <a class="nav-link" href="/login">login</a>
            {{/if}}
          </div>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" id="crypto-input" type="search" placeholder="Bitcoin" aria-label="Search">
              <button class="btn btn-outline-light my-2 my-sm-0" id="search-btn" type="submit">Search</button>
            </form>
        </nav>
        {{{ body }}}
    </div>

</div>
</body>



<script src="/js/logout.js"></script>
<script src="/js/search.js"></script>
</html>