<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    
    <div class="jumbotron jumbotron-fluid bg-info">
        <div class="container">
          <h1 class="display-4">Cryptofolio</h1>
          <p class="lead">Your preferred cryptcurrency watch list and your one source on everything crypto. </p>
        </div>
      </div>

      <div class="container bg-white">
        <nav class="nav justify-content-center">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="/watchlist">Watchfolio</a>
            {{#if logged_in}}
            <a class="nav-link" href="/" id="logout">logout</a>
            {{else}}
            <a class="nav-link" href="/login">login</a>
            {{/if}}
        </nav>
        {{{ body }}}
    </div>


</body>



<script src="/js/logout.js"></script>
</html>