<div class="container">
     <form class="login-form">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="" class="form-control" id="usernameInput" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your login with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="passwordInput">
            </div>
            <small id="signup" class="form-text text-muted">Please Sign up if you don't have an account<a class="mx-2" href="/signup">Sign up</a></small>
            <button type="submit" class="btn btn-primary ">Login</button>
        </form>
</div>



<script src="./js/login.js"></script>