<div class="section text-center mb-3 mt-5">
    <h2>Login</h2>
</div>

<div class="row justify-content-center">
    
    <div class="col-md-3 ">
        <form class="login-form">
            <div class="form-group col-sm">
                <label for="username">Username</label>
                <input type="" class="form-control" id="usernameInput" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your login with anyone
                    else.</small>
            </div>
            <div class="form-group col-sm">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="passwordInput">
            </div>
            <div class="col-sm">
                <small id="signup" class="form-text text-muted">Please Sign up if you don't have an account<a
                        class="mx-2 font-weight-bold sign-up-text" href="/signup">Sign up</a></small>
                <button type="submit" class="btn btn-primary mt-3">Login</button>
            </div>
        </form>
    </div>

</div>





<script src="./js/login.js"></script>