<div class="container">
    <div class="section">
        <h2>Create your Account</h2>
    </div>
    <form class="signup-form">
        <div class="form-group">
            <label for="username">Username</label>
            <input type = "username" class="form-control" id="usernameInput" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="passwordInput">
        </div>
        <button type="submit" class="btn btn-info">Sign up</button>
    </form>
</div>



<script src="./js/signup.js"></script>